@model  List<XandaPOS.Models.BrandMasterVM>
@{
    ViewBag.Title = "BrandMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    loadCustomerGrid();
</script>

<table style="border:1px solid blue;">
    <tr>
        <th>
            Brand Name
        </th>
        <th>
            Brand Company
        </th>
        <th>
            Brand Product Group
        </th>
    </tr>

    @*@{ Boolean blankRow = true;}*@
    @foreach (var brand in Model)
    {
        <tr>
            <td>
                @brand.brand_name
            </td>
            <td>
                @brand.brand_company
            </td>
            <td>
                @brand.brand_product_group
            </td>
        </tr>
        @*@{blankRow = false;}*@
    }
    @*@{ 
        if (blankRow){
            <tr colspan="3">
                NO DATA AVAILABLE
            </tr>
        }
    }*@
</table> 