@model  List<XandaPOS.Models.CustomerMasterVM>
@{
    ViewBag.Title = "CustomerMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    loadCustomerGrid();
</script>


<ul>
    @foreach (var book in Model)
    {
        <li>
            @book.cust_name;
        </li>

    }
</ul>  