@model  List<XandaPOS.Models.MasterTableHelperMasterVM>
@{
    ViewBag.Title = "MasterTableHelperMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    loadCustomerGrid();
</script>


<table style="border:1px solid blue;">
    <tr>
        <th>
            Helper Name
        </th>
        <th>
            Helper To Master Table
        </th>
        <th>
            Helper Details
        </th>
        <th>
            Helper Required
        </th>
    </tr>

    @{ Boolean blankRow = true;}
    @foreach (var helper in Model)
    {
        <tr>
            <td>
                @helper.helper_name
            </td>
            <td>
                @helper.helper_link_master_table
            </td>
            <td>
                @helper.helper_details
            </td>
            <td>
                @helper.helper_active
            </td>
        </tr>
        @{blankRow = false;}
    }
    @{
        if (blankRow)
        {
            <tr colspan="4">
                NO DATA AVAILABLE
            </tr>
        }
    }
</table> 