
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>
@*<div style="position:relative;top: 0px;padding-left: 180px;width: 800px;align-content:center;">*@
@{ Html.RenderPartial("_Upload"); }
@*</div>*@